* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: #ffcc00;
    border-radius: 15px;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;

    margin-top: 300px;
    position: relative;
}


.card h1 {
    color: #333;
    font-size: 24px;
}

.card h2 {
    margin-bottom: 20px;
}

.card p {
    font-size: 18px;
    color: #787373;
    margin: 35px 20px 30px 20px;
}

.prev {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #ecd167;
    border-radius: 5px;
}

.next {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #ecd167;
    border-radius: 5px;
}

.update-btn {
    border: none;
    background: none
}

img {
    width: 30px;
    height: 30px;
}